
<nz-layout class="layout" style="min-width: 1366px; margin: 0 auto">
  <!--头部开始-->
  <nz-header style="background: #ffffff;">
    <!--logo开始-->
    <div class="logo">
      <img src="../assets/images/Ant.svg" alt="logo">
      <span>+</span>
      <img src="../assets/images/Java.gif" id="javaLogo" alt="logo">
      <strong>教程</strong>
    </div>
    <!--logo结束-->
    <div class="login">
      <nz-avatar nzIcon="anticon anticon-user" nzSrc="" style="margin-right: 5px"></nz-avatar>
      <span>{{user.username}}</span>
    </div>
    <ul nz-menu [nzMode]="'horizontal'" style="line-height: 62px;">
      <!--Home-->
      <li nz-menu-item [nzSelected]="true" style="margin-left: 58px;"><a routerLink="home" routerLinkActive="active"><i class="anticon anticon-home"></i>Home</a></li>
      <!--前端-->
      <li nz-submenu>
        <span title style="padding-left: 15px;">前端&nbsp;&nbsp;<i class="anticon anticon-down"></i></span>
        <ul>
          <li nz-menu-group>
            <span title>Angular准备工作</span>
            <ul>
              <li nz-menu-item><a routerLink="/web/history" routerLinkActive="active">Angular发展</a></li>
              <li nz-menu-item><a routerLink="/web/base" routerLinkActive="active">Angular基础</a></li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Angular实战操作</span>
            <ul>
              <li nz-menu-item><a routerLink="/web/pre" routerLinkActive="active">准备工作</a></li>
              <li nz-menu-item><a routerLink="/web/go" routerLinkActive="active">GO</a>!</li>
            </ul>
          </li>
        </ul>
      </li>
      <!--后台-->
      <li nz-submenu>
        <span title style="padding-left: 15px;">后台&nbsp;&nbsp;<i class="anticon anticon-down"></i></span>
        <ul>
          <li nz-menu-group>
            <span title>Java准备工作</span>
            <ul>
              <li nz-menu-item>Java发展</li>
              <li nz-menu-item>Java基础</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Angular实战操作</span>
            <ul>
              <li nz-menu-item>准备工作</li>
              <li nz-menu-item>GO!</li>
            </ul>
          </li>
        </ul>
      </li>
      <!--<li nz-menu-item nzDisabled><i class="anticon anticon-appstore"></i> Navigation Two</li>-->
      <!--部署服务-->
      <li nz-submenu>
        <span title style="padding-left: 15px;"> 部署服务&nbsp;&nbsp;<i class="anticon anticon-down"></i></span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
              <li nz-submenu>
                <span title>Sub Menu</span>
                <ul>
                  <li nz-menu-item nzDisabled>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled>
                <span title>Disabled Sub Menu</span>
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </li>
      <!--插件-->
      <li nz-submenu>
        <span title><i class="anticon anticon-bulb"></i> 常用插件</span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
              <li nz-submenu>
                <span title>Sub Menu</span>
                <ul>
                  <li nz-menu-item nzDisabled>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled>
                <span title>Disabled Sub Menu</span>
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!--关于我们-->
      <li nz-menu-item>
        <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">关于我们</a>
      </li>
    </ul>
  </nz-header>
  <!--头部导航结束-->
  <!--中间部分开始-->
  <nz-content style="padding:0 50px;">


    <router-outlet></router-outlet>



  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
