<!--
&lt;!&ndash;
<button nz-button nzType="primary" nzGhost (click)="load()" [nzLoading]="isLoading"><i class="anticon anticon-poweroff"></i>关机</button>

<br>
<nz-dropdown>
  <button nz-button nzType="default" nzGhost nzSize="large" nz-dropdown>Manager<i class="anticon anticon-down"></i></button>
  <ul nz-menu>
    <li nz-menu-item><a>2323</a></li>
    <li nz-menu-item><a>2323</a></li>
    <li nz-menu-item><a>2323</a></li>
  </ul>
</nz-dropdown>

<br>
<div nz-row>
  <div nz-col class="gutter" nzSpan="6">1</div>
  <div nz-col class="gutter" nzSpan="6">1</div>
  <div nz-col class="gutter" nzSpan="6">1</div>
  <div nz-col class="gutter" nzSpan="6">1</div>
</div>

&ndash;&gt;
&lt;!&ndash;<app-layout></app-layout>&ndash;&gt;
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      <img src="../assets/images/logo.jpg" alt=""><span>AI Engine</span>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">用户</span></span>
        <ul>
          <li nz-menu-item><a routerLinkActive="active" routerLink="/user/userlist">用户列表</a></li>
          <li nz-menu-item><a routerLinkActive="active" routerLink="/user/vip">Vip</a></li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px; height: 9000px;">
        <nz-affix nzOffsetBottom="120" (nzChange)="onChange($event)">
          <button nz-button>
            <span>120px to affix top</span>
          </button>
        </nz-affix>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>

-->

<nz-layout class="layout" style="min-width: 1366px; margin: 0 auto">
  <!--头部开始-->
  <nz-header style="background: #ffffff;">
    <!--logo开始-->
    <div class="logo">
      <img src="../assets/images/Ant.svg" alt="logo">
      <span>+</span>
      <img src="../assets/images/Java.jpg" alt="logo">
      <strong>实战</strong>
    </div>
    <!--logo结束-->
    <div class="login">
      <nz-avatar nzIcon="anticon anticon-user" nzSrc="../assets/images/Java.jpg"></nz-avatar>
      <span (click)="alert(1);">Hi!&nbsp;请登录</span>
    </div>
    <ul nz-menu [nzMode]="'horizontal'" style="line-height: 62px;">
      <!--Home-->
      <li nz-menu-item [nzSelected]="true" style="margin-left: 200px;"><a routerLink="home" routerLinkActive="active"><i class="anticon anticon-home"></i>Home</a></li>
      <!--前端-->
      <li nz-submenu>
        <span title style="padding-left: 15px;">前端&nbsp;&nbsp;<i class="anticon anticon-down"></i></span>
        <ul>
          <li nz-menu-group>
            <span title>Angular准备工作</span>
            <ul>
              <li nz-menu-item><a routerLink="/web/history" routerLinkActive="active">Angular发展</a></li>
              <li nz-menu-item><a routerLink="/web/base" routerLinkActive="active">Angular基础</a></li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Angular实战操作</span>
            <ul>
              <li nz-menu-item><a routerLink="/web/pre" routerLinkActive="active">准备工作</a></li>
              <li nz-menu-item><a routerLink="/web/go" routerLinkActive="active">GO</a>!</li>
            </ul>
          </li>
        </ul>
      </li>
      <!--后台-->
      <li nz-submenu>
        <span title style="padding-left: 15px;">后台&nbsp;&nbsp;<i class="anticon anticon-down"></i></span>
        <ul>
          <li nz-menu-group>
            <span title>Java准备工作</span>
            <ul>
              <li nz-menu-item>Java发展</li>
              <li nz-menu-item>Java基础</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Angular实战操作</span>
            <ul>
              <li nz-menu-item>准备工作</li>
              <li nz-menu-item>GO!</li>
            </ul>
          </li>
        </ul>
      </li>
      <!--<li nz-menu-item nzDisabled><i class="anticon anticon-appstore"></i> Navigation Two</li>-->
      <!--部署服务-->
      <li nz-submenu>
        <span title style="padding-left: 15px;"> 部署服务&nbsp;&nbsp;<i class="anticon anticon-down"></i></span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
              <li nz-submenu>
                <span title>Sub Menu</span>
                <ul>
                  <li nz-menu-item nzDisabled>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled>
                <span title>Disabled Sub Menu</span>
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </li>
      <!--插件-->
      <li nz-submenu>
        <span title><i class="anticon anticon-bulb"></i> 常用插件</span>
        <ul>
          <li nz-menu-group>
            <span title>Item 1</span>
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group>
            <span title>Item 2</span>
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
              <li nz-submenu>
                <span title>Sub Menu</span>
                <ul>
                  <li nz-menu-item nzDisabled>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled>
                <span title>Disabled Sub Menu</span>
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!--关于我们-->
      <li nz-menu-item>
        <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">关于我们</a>
      </li>
    </ul>
  </nz-header>
  <!--头部导航结束-->
  <!--中间部分开始-->
  <nz-content style="padding:0 50px;">


    <router-outlet></router-outlet>



  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
